* {
  box-sizing: border-box;
  margin: 0;
}

#wrap {
  padding: 10px;
}

input {
  width: 100%;
  height: 100%;
}

.v-table {
  position: relative;
  background-color: rgba(blue, 0.2);
  height: 200px;
}

.v-table-headers {
  position: relative;
  top: 0;
  background-color: rgba(green, 0.2);
  overflow: hidden;
}

.v-table-cells {
  position: relative;
  top: 0;
  background-color: rgba(red, 0.2);
  overflow: auto;
}

.v-table-cells-placement {
  position: absolute;
  visibility: hidden;
}

.cell {
  // border-right: solid 1px black;
  // border-bottom: solid 1px black;
  background-color: #eee;
  position: absolute;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

// .column0 {
//   border-left: solid 1px black;
// }

// .hrow {
//   border-top: solid 1px black;
//   height: 25px;
//   top: 0;
// }
